################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WestSideLuigis/App_Data/aspnet-WestSideLuigis-20240316011533_log.ldf
