@model IEnumerable<WestSideLuigis.Models.MenuItemDto>
@{
    ViewBag.Title = "List";
}

<h2>Menu Items</h2>
<div><a href="/MenuItem/New">Add Item</a></div>

@foreach (var menu in Model)
{
    <h2><a href="/MenuItem/Details/@menu.ItemID">@menu.ItemName</a></h2>
    <div>Price: @menu.Price</div>
    <div>Category: @menu.CategoryName</div>
    <a href="/Orders/OrdersForMenuItem/@menu.ItemID"> Orders for this item</a>

}

