@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">WestSideLuigis</h1>
        <p class="lead">Welcome to WestSideLuigis! Here we serve only the finest foods and drinks Toronto has to offer.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="breweryTitle">
            <h2 id="breweryTitle">Brewery List</h2>
            <p>
                Toronto has a great selection of local breweries, so we deicded to support local and only serve the freshest brews around!
            </p>
            <p><a class="btn btn-outline-dark" href="/Brewery/List">View Breweries &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="menuItemsTitle">
            <h2 id="menuItemsTitle">Menu Items</h2>
            <p>Here at WestSideLuigis we make some of the best food in Toronto, Come have a look for yourself!</p>
            <p><a class="btn btn-outline-dark" href="/MenuItem/List">View Menu &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="receptionTitle">
            <h2 id="receptionTitle">Receptions</h2>
            <p>Big fan of trivia night? Maybe open mic? We got it all here at WestSideLuigis, come on down and sign up for an event hosted right here at your fav place in Toronto!</p>
            <p><a class="btn btn-outline-dark" href="/Reception/List">Learn more &raquo;</a></p>
        </section>
    </div>
</main>