@model WestSideLuigis.Models.Brewery
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are You Sure You Want To Delete This Brewery?</h2>

<a href="/Brewery/List">Cancel</a>
<h2>@Model.BreweryName</h2>
<div>Location: @Model.BreweryLocation</div>

<form action="/Brewery/Delete/@Model.BreweryID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
