﻿@model WestSideLuigis.Models.Brewery
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Brewery</h2>

<form action="/Brewery/Update/@Model.BreweryID" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="BreweryID" value="@Model.BreweryID" />
    <div class="mb-3">
        <label for="BreweryName" class="form-label">Name:</label>
        <input type="text" class="form-control" name="BreweryName" value="@Model.BreweryName">
    </div>
    <div class="mb-3">
        <label for="BreweryLocation" class="form-label">Location:</label>
        <input type="text" class="form-control" name="BreweryLocation" value="@Model.BreweryLocation">
    </div>
    <div class="mb-3">
        <label for="BreweryPic" class="form-label">Brewery Picture:</label>
        <input type="file" class="form-control" name="BreweryPic">
    </div>
    <button type="submit" class="btn btn-primary" value="Update">Update</button>
    <a href="/Brewery/Details/@Model.BreweryID" class="btn btn-warning">Cancel</a>
</form>